.card{
    max-width: 800PX;
    text-align:left;
    background:#FFF;
    /* display: inline-block; */
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.15), 0 4px 6px rgba(0,0,0,0.23);
    margin: 10px auto 20px auto;
    /* margin:10px*/
    /* margin-bottom: 20px; */
    position: relative;
    transition: all .2s ease-in-out;
}
.card:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-bottom: 25px;
}
.card header>.thumbnail{
    height: auto;
    width:100%;
    max-width:800px;
    opacity: .95;
    overflow: hidden;
    transition: all .2s ease-in-out;
}
.card header>.thumbnail:hover,
.card:hover header>.thumbnail {
  opacity: 1;
}
.card header h3.heading, header small.source, section, footer{
    padding: 0px 10px;
}
.card header small.source{
    position: relative;
    top: -20px;
    font-weight: 700;
}
.card section{
    min-height: 150px;
}
.card section>p{
    margin-top:0px;
}
.card footer{
    border-top: 1px solid #eee;;
}
